.photo__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 118px;
  padding: 0 48px 0 48px;
  gap: 16px;
}

.photo__grid-item {
  width: 284px;
  height: 213px;
}
