.photo {
  margin: 0px 48px 80px;
  display: flex;
  justify-content: center;
}
.photo__galery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 118px;
  gap: 16px;
}

.photo__item {
  max-width: 284px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo {
    max-width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media screen and (max-width: 540px) {
  .photo {
    max-width: 288px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
