.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 80px 24px 0;
  }
}

@media screen and (max-width: 540px) {
  .places {
    padding: 62px 0;
  }
}
