.place {
  display: grid;
  grid-template-areas:
    "city artist"
    "img text"
    "button text"
    "span text";
  gap: 40px;
  max-width: 984px;
}

.place__city-name {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  max-width: 460px;
  grid-area: city;
}

.place__artists {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 456px;
  grid-area: artist;
}

.place__artists-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: rgba(170, 170, 170, 1);
  text-transform: uppercase;
  margin: 0 0 8px;
}

.place__artists-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0;
}

.place__image {
  grid-area: img;
  max-width: 460px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.place__image:hover {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  cursor: pointer;
}

.place__city-text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.place__city-text-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  max-width: 484px;
  margin: 0;
  grid-area: text;
}

.place__button {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  border-radius: 4px;
  padding: 13px 0;
  max-width: 356px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  grid-area: button;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .place__city {
    max-width: 720px;
    grid-gap: 48px 28px;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr 340px;
  }
  .place__city-name {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    text-align: left;
  }
  .place__artists {
    max-width: 352px;
  }
  .place__image {
    max-width: 340px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }
  .place__city-text-paragraph {
    font-size: 18px;
    line-height: 26.08px;
    max-width: 352px;
  }
  .place__button {
    max-width: 355px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 540px) {
  .place__city {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .place__city-name {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    text-align: left;
  }
  .place__artists {
    max-width: 288px;
  }
  .place__image {
    max-width: 320px;
    width: 100%;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .place__city-text-paragraph {
    max-width: 288px;
    font-size: 18px;
  }

  .place__button {
    max-width: 288px;
    font-size: 14px;
    line-height: 16.94px;
    margin: 0 16px;
    padding: 12px 16px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}
